<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Processors - Output Page</title>
  <!-- Stage 1 -->
  <!-- Styling Not Implement Yet -->
</head>
<body>
<h1>Processors - Output Page</h1>
<p><strong>Processor Name:</strong> <span th:text="${processorName}"></span></p>
<p><strong>Manufacturer:</strong> <span th:text="${manufacturer}"></span></p>
<p><strong>Windows 11 Ready:</strong> <span th:text="${windows11Ready} ? 'Yes' : 'No'"></span></p>

<br>

<a href="/input">Back</a>
<footer>Sheridan College - Nevish Kumar Jeetun</footer>
</body>
</html>
